html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

#contact {
    text-align: center;
    background-color: #0a101e;
    padding: 50px 0;
}

#contact h1 {
    margin-bottom: 20px;
    color: aliceblue;
}

#contact p {
    color:#0a101e  ;
}

.contact-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-items a{
    text-decoration: none;
    color: #0a101e;
}
.contact-item {
    height: 150px;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px; /* Add margin for space between items */
    transition: all 1s ease-in;
}

.center-item {
    height: 200px; /* Adjust height as needed */
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    transition: all 1s ease-in;
}

.add_line{
    color: #0a101e;
}

.right-item {
    height: 150px;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px; /* Add margin for space between items */
    transition: all 1s ease-in;
}

.right-item:hover{
    border: 4px solid cyan    ;
    text-shadow: 0px 0px 19px rgba(215, 212, 212, 0.2);
    box-shadow: 0px 0px 20.1px rgba(221, 237, 41, 0.25);
}
.center-item:hover{
    border: 4px solid cyan    ;
    text-shadow: 0px 0px 19px rgba(215, 212, 212, 0.2);
    box-shadow: 0px 0px 20.1px rgba(221, 237, 41, 0.25);
}

.contact-item:hover{
    border: 4px solid  cyan  ;
    text-shadow: 0px 0px 19px rgba(215, 212, 212, 0.2);
    box-shadow: 0px 0px 20.1px rgba(221, 237, 41, 0.25);
}